.flex-container{
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 1000px;
    width: 200px;
    x: 100px;

    /*100 pixels per hour (7:30 - 5:30)*/
}

.flex-container > div {
    background-color: lightcyan;
    /*padding: 10px;*/
    margin: 10px;
    position: absolute;
    width:180px;
    /*position:relative;*/
}
